
<!DOCTYPE html>{% load staticfiles %} {% load fontawesome %} {% load admin_urls %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    {% block title %}
        <title>Телефонный справочник МТУ (Вернадского 86)</title>
    {% endblock %}

    {% block head_css %}
        {% fontawesome_stylesheet %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static "materialize/css/materialize.min.css" %}" media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" media="screen,projection"/>

    {% endblock %}

    {% block head_js %}
        <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
        <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/typehead.js" %}"></script>
    {% endblock %}
    {# Если уже используются базовые CSS и JS, то все остальное можно добавить в head_other #}
    {% block head_other %}{% endblock %}
</head>

{% block body %}
<body>
    {% block header %}
        <header>
        <div class="navbar-fixed row">
            <nav class="light-blue darken-1">
                <div class="nav-wrapper">
                    <div class="col s12 offset-m1 m10 offset-l1 l10">
                    <a href="/" class="brand-logo"><img style="margin-bottom: -8px; margin-left: 10px; margin-right: 10px" src="{% static "img/logo.png" %}"><span>Телефонный справочник МТУ (Вернадского 86)</span></a>
                    <ul class="right hide-on-med-and-down">
                        <li>

                                <div id="remote" class="input-field">
                                    <input style="margin-bottom: 0;" class="typeahead" autocomplete="off" required id="id_q" name="q" type="search" placeholder="Найти сотрудника">
                                    <label for="id_q"><i class="material-icons">search</i></label>
                                </div>



                        </li>
                        <li>
                             <div id="remote1" class="input-field">
                                    <input style="margin-bottom: 0;" class="typeahead" autocomplete="off" required id="id_q" name="q" type="search" placeholder="Найти подразделение">
                                    <label for="id_q">
                                </div>
                        </li>
                        <li><a href="/all">Все телефоны</a></li>
                        <li>|</li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}">ВЫЙТИ</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}">ВОЙТИ</a></li>
                        {% endif %}
                    </ul>
                    </div>
                             <ul id="slide-out" class="side-nav">
                    <li><a href="/all">Все телефоны</a></li>
                    <li>
                    <div id="remote" class="input-field">
                        <input style="margin-bottom: 0;" class="typeahead" autocomplete="off" required id="id_q" name="q" type="search" placeholder="Поиск">
                        <label for="id_q"><i class="material-icons">search</i></label>
                    </div>
                    </li>
             </ul><a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>

            </nav>
        </div>
        </header>
    {% endblock %}

    {% if messages %}
    <div>
      <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
      </ul>
    </div>
    {% endif %}
    <main>
    {% block content %}{% endblock %}
    </main>
    {% block footer %}
            <footer>
            <div class="row" style="margin-bottom: 0;">
                <div class="footer-nav">
                    <nav class="light-blue darken-1">
                        <div class="col s12 offset-m1 m10 offset-l1 l10">
                            <ul>
                                <li class="hide-on-med-and-down"><a href="#">Защита персональных данных</a></li>
                                <li><a href="#">Тех. поддержка</a></li>
                            </ul>
                            <span class="right">МИТХТ &copy; 2015</span>
                        </div>
                    </nav>
                </div>
                </div>
            </footer>
    {% endblock %}
<script type="text/javascript">
$(function(){
	var person = new Bloodhound({
		datumTokenizer: function (datum) {
			return Bloodhound.tokenizers.whitespace(datum.tokens);
		},
		queryTokenizer: Bloodhound.tokenizers.whitespace,
		remote: {
			url: "/search/autocomplete/",
			replace: function(url, query) {
				return url + "?q=" + query;
			},
			filter: function(person) {
				return $.map(person, function(data) {
					return {
						tokens: data.tokens,
						last_name: data.last_name,
						first_name: data.first_name,
						middle_name: data.middle_name,
						slug: data.slug,
						phone: data.phone
					}
				});
			}
		}
	});

	var unit = new Bloodhound({
		datumTokenizer: function (datum) {
			return Bloodhound.tokenizers.whitespace(datum.tokens);
		},
		queryTokenizer: Bloodhound.tokenizers.whitespace,
		remote: {
			url: "/search/autocomplete/unit/",
			replace: function(url, query) {
				return url + "?q=" + query;
			},
			filter: function(unit) {
				return $.map(unit, function(data) {
					return {
						tokens: data.tokens,
						unit_name: data.unit_name,
                        unit_short_name: data.unit_short_name,
						slug: data.slug
					}
				});
			}
		}
	});

    person.initialize();
	unit.initialize();

  $('#remote .typeahead').typeahead({
                    minLength: 2,
                    highlight: true,
                    hint: false,
                    classNames: {
                        dataset: 'collection',
                        suggestion: 'red-text text-lighten-1 collection-item',
                        highlight: 'tt-highlight red-text text-darken-2'
                    }
                },
                {
                    name: 'person',
                    displayKey: 'last_name',
                    source: person.ttAdapter(),
                    async: true,
                    limit: 10,
                    templates: {
						header: '<p class="red-text text-lighten-1" style="font-size:1.1rem; line-height:1.1rem; text-align:center;">Сотрудники</p>',
                        notFound: function(data){
                            return '<li class="red-text text-lighten-1 collection-item">Сотрудники не найдены</p>'
                        },
                        suggestion: function(data){
                            return '<a href="#"><i class="material-icons left" style="line-height:45px;">person</i>' + data.last_name + ' ' + data.first_name + '.' + data.middle_name + '.' + '<br/><span class="grey-text text-darken-3">тел. ' +  data.phone + '</span></a>';
                        },
                }
        }).on('typeahead:selected', function (obj, person) {
            window.location.href = '/' + person.slug;
        });

  $('#remote1 .typeahead').typeahead({
                    minLength: 2,
                    highlight: true,
                    hint: false,
                    classNames: {
                        dataset: 'collection',
                        suggestion: 'red-text text-lighten-1 collection-item',
                        highlight: 'tt-highlight red-text text-darken-2'
                    }
                },
                {
                    name: 'unit',
                    displayKey: 'unit_name',
                    source: unit.ttAdapter(),
                    async: true,
                    limit: 3,
                    templates: {
                        header: '<p class="red-text text-lighten-1" style="font-size:1.1rem; line-height:1.1rem; text-align:center;">Подразделения</p>',
                        notFound: function(data){
                            return '<li class="red-text text-lighten-1 collection-item">Подразделения не найдены</p>'
                        },
                        suggestion: function(data){
                            return '<a href="#"><i class="material-icons left" style="line-height:20px;">domain</i><span>' + data.unit_name + '</span></a>';
                        },
                }
        }).on('typeahead:selected', function (obj, unit) {
            window.location.href = '/units/' + unit.slug;
        });

});
</script>


<script>
$(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});

$('.button-collapse').sideNav({
  menuWidth: 300, // Default is 240
  edge: 'right', // Choose the horizontal origin
  closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
});
</script>
</body>
{% endblock %}
</html>