{% extends "include/base.html" %}

{% block content %}
    <main>
        <div class="row">
            <div class="col m12 offset-l1 l10 main">
                <div class="wrapper">
                    <form method="get" action="">
                            {% if query %}
                                        <ul class="collapsible popout" data-collapsible="accordion">
                                        <h4>Результаты</h4>
                                            {% for result in page.object_list %}
                                            <li>
                                                <div class="collapsible-header">
                                                    <div class="col s3" style="font-size: 0.9rem; font-weight: bold;">
                                                    {{ result.object.last_name}} {{ result.object.first_name| slice:":1" }}.{{ result.object.middle_name| slice:":1" }}.
                                                    </div>
                                                    <div class="col s7" style="font-size: 0.8rem">{{ result.object.unit.first }} / {{ result.object.position.first }}</div>
                                                    <div class="col s2">  тел. {{ result.object.phone.first }}</div>
                                                </div>
                                                <div class="collapsible-body">
                                                    <div class="wrapper">
                                                        <p>Подразделение: {% for unit in result.object.unit.all %}{{ unit }}<br/> {% endfor %}</p>
                                                        <p>Должность: {% for position in result.object.position.all %}{{ position }}<br/> {% endfor %}</p>
                                                        <p>Телефон: {% for phone in result.object.phone.all %}{{ phone }}<br/> {% endfor %}</p>
                                                        <div class="fixed-action-btn center">
                                                            <a class="waves-effect waves-light red darken1 btn" href="{{ result.object.get_absolute_url }}"> Подробнее</a>
                                                            <a class="waves-effect waves-light red darken-1 btn" href="mailto:{{ result.object.email }}"> Письмо</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% empty %}
                                            <p>Не найдено.</p>
                                            {% endfor %}
                                        </ul>

                            {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
