{% extends "include/base.html" %}{% load thumbnail %}

{% block content %}
        <div class="row">
            <div class="col m12 offset-l1 l10 main">
                <div class="wrapper">
                    <form method="get" action="">
                            {% if query %}
                                        <h4>Результаты</h4>
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <div class="fixed-action-btn" style="bottom: 70px; right: 50px; cursor: help;">
                                                <i class="material-icons red-text text-lighten-4 right tooltipped" style="font-size: 50px;" data-tooltip="Не из сети МИТХТ необходимо набрать +7(495)246-05-55 и внутренний номер">help</i>
                                            </div>
                                            {% for result in page.object_list %}
                                                {% if result.content_type == "phones.person" %}
                                                    <li>
                                                        <div class="collapsible-header valign-wrapper">
                                                            <div class="col l3 m7 red-text text-lighten-1 valign-wrapper" style="font-size: 0.9rem; font-weight: bold; ">
                                                                {% if result.object.photo %}
                                                                    {% thumbnail result.object.photo "27x27" quality=99 crop="center" as im %}
                                                                    <img class="circle responsive-img" style="margin-left: 2px; margin-right: 15px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ result.object.last_name }}">
                                                                    {% endthumbnail %}
                                                                {% else %}
                                                                <i class="material-icons">person</i>
                                                                {% endif %}
                                                                {{ result.object.last_name}} {{ result.object.first_name| slice:":1" }}.{{ result.object.middle_name| slice:":1" }}.
                                                            </div>
                                                            <div class="col l7 hide-on-med-and-down" style="font-size: 0.8rem">{{ result.object.unit.first| slice:":25" }} / {{ result.object.position.first }}</div>
                                                            <div class="col l2 m4 right" style="font-size: 0.8rem">
                                                                {% if result.object.phone %}
                                                                    <span>{{ result.object.phone.first }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                      <div class="collapsible-body">
                                                        <div class="row" style="padding: 20px; margin: 5px; border: 1px #ee6e73 dashed;">
                                                            <div class="col l3"><i class="material-icons left">phone</i>{{ result.object.get_phones }}</div>
                                                            <div class="col l3"><i class="material-icons left">mail</i>{{ result.object.email }}</div>
                                                            <div class="col l3"><i class="material-icons left">place</i>{{ result.object.get_addresses }}</div>
                                                            <div class="col l3">
                                                                <a class="btn-flat red-text text-lighten-2" href="{{ result.object.get_absolute_url }}"><i class="material-icons right">more_vert</i>Подробнее</a><br/>
                                                                <a class="btn-flat red-text text-lighten-2" href="mailto:{{ result.object.email }}"><i class="material-icons right">send</i>Письмо</a>
                                                            </div>
                                                        </div>
                                                      </div>

                                                    </li>
                                                {% endif %}
                                                {% if result.content_type == "phones.unit" %}
                                                    <li>
                                                        <div class="collapsible-header">
                                                            <i class="material-icons">group</i><a href="{{ result.object.get_absolute_url }}">{{ result.object.unit_name }} / {{ result.object.unit_cypher }}</a> <i class="material-icons right">expand_more</i>
                                                        </div>
                                                        <div class="collapsible-body">
                                                            {% for person in result.object.get_person_in_unit %}
                                                                <div class="collapsible-header valign-wrapper">
                                                                    <div class="col l3 m7 red-text text-lighten-1 valign-wrapper" style="font-size: 0.9rem; font-weight: bold; ">
                                                                        {% if person.photo %}
                                                                            {% thumbnail person.photo "27x27" quality=99 crop="center" as im %}
                                                                            <img class="circle responsive-img" style="margin-left: 2px; margin-right: 15px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ result.object.last_name }}">
                                                                            {% endthumbnail %}
                                                                        {% else %}
                                                                        <i class="material-icons">person</i>
                                                                        {% endif %}
                                                                        {{ person.last_name}} {{ person.first_name| slice:":1" }}.{{ person.middle_name| slice:":1" }}.
                                                                    </div>
                                                                    <div class="col l7 hide-on-med-and-down" style="font-size: 0.8rem"><span class="truncate">{{ person.unit.first| slice:":25" }} / {{ person.position.first }}</span></div>
                                                                    <div class="col l2 m4 right" style="font-size: 0.8rem">
                                                                        {% if person.phone %}
                                                                            <span>{{ person.phone.first }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="collapsible-body">
                                                                    <div class="row" style="padding: 20px; margin: 5px; border: 1px #ee6e73 dashed;">
                                                                        <div class="col l3"><i class="material-icons left">phone</i>{{ person.get_phones }}</div>
                                                                        <div class="col l3"><i class="material-icons left">mail</i>{{ person.email }}</div>
                                                                        <div class="col l3"><i class="material-icons left">place</i>{{ person.get_addresses }}</div>
                                                                        <div class="col l3">
                                                                            <a class="btn-flat red-text text-lighten-2" href="{{ person.get_absolute_url }}"><i class="material-icons right">more_vert</i>Подробнее</a><br/>
                                                                            <a class="btn-flat red-text text-lighten-2" href="mailto:{{ person.email }}"><i class="material-icons right">send</i>Письмо</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            {% empty %}
                                            <p>Не найдено.</p>
                                            {% endfor %}
                                        </ul>

                            {% endif %}
                    </form>
                </div>
            </div>
        </div>
{% endblock %}