django
pillow
unidecode
django-allauth
django-ckeditor
django-formset-js
django-haystack
django-jquery-js
django-mptt
django_mptt_admin
elasticsearch
pip
setuptools
future
virtualenv
simplejson
django-suit
django-fontawesome
pyyaml
django-select2
sorl-thumbnail
django-publications
django-endless-pagination
celery
celery-haystack
django-celery
django-import-export
django-debug-toolbar
django-braces

