{% extends "include/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col s12 offset-m1 m10 offset-l1 l10">
        <h1 class="red-text text-darken-1">Войти</h1>
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
        <p>Для того, чтобы войти в телефонный справочник МИТХТ, используйте свою почту в домене @mitht.ru</p>
        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}
