{% extends "include/base.html" %}{% load thumbnail %}{% load fontawesome %}
{% block content %}
    <div class="row">
        <div class="col s10 offset-m1 m8 offset-l1 l8">
            <h1>{{ detail.last_name }} {{ detail.first_name }} {{ detail.middle_name }}</h1>
            <p>{% for info in detail.positioninunit_set.all %}
                {{ info.position }}: <a href="{{ info.unit.get_absolute_url }}">{{ info.unit }}</a><br />
             {% endfor %}</p>
        </div>
        <div class="col s2">
            {% thumbnail detail.photo "150x150" crop="center" as im %}
                <img style="border: 1px #ee6e73 solid;" class="circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </div>
    </div>
    <div class="row">
        <div class="col l8 offset-l1">
            <div class="row">
                <div class="col l12">
                    <ul class="tabs">
                        <li class="tab col s2"><a class="active" href="#main">{% fontawesome_icon 'info' %} Общее</a></li>
                        <li class="tab col s2"><a href="#edu"> {% fontawesome_icon 'graduation-cap' %} Образование</a></li>
                        <li class="tab col s2 disabled"><a href="#pub">{% fontawesome_icon 'book' %} Наука</a></li>
                        <li class="tab col s2"><a href="#oth"> {% fontawesome_icon 'briefcase' %} Прочее</a></li>
                    </ul>
                </div>
                <div id="main" class="col l12">
                    <h5>Информация</h5>

                </div>
                <div id="edu" class="col l12">
                    <h5>Бакалавриат</h5>
                    <p>{% for edu in detail.edu.all %}{{ edu }}{% endfor %}</p>
                    <h5>Магистратура</h5>
                    <p></p>
                    <h5>Аспирантура</h5>
                    <p></p>
                    <h5>Дополнительное образование</h5>
                    <p></p>
                </div>
                <div id="pub" class="col l12">
                    <h5>Публикации</h5>
                    <h5>Участие в конференциях</h5>
                </div>
                <div id="oth" class="col l12">
                    <h5>Опыт работы</h5>
                </div>

            </div>
        </div>
        <div class="col l3">

            <h5>Контакты</h5>
            <p>Телефон:<br />{% for info in detail.positioninunit_set.all %}{% for phone in info.phone.all %}{{ phone }}<br /> {% endfor %}{% endfor %}</p>
            <p>E-mail:<br /><a target="_blank" href="mailto:{{ detail.email }}">{{ detail.email }}</a></p>
            <p>Адрес:<br />{% for info in detail.get_addresses %}{{ info }}<br />{% endfor %} {{ detail.get_addresses }}</p>
            <p>Часы работы:<br />{{ detail.work_hours }}</p>
            <p>Руководитель:<br/>
            {% for info in detail.positioninunit_set.all %}
                {% if info.chief == None %}
                    <br />
                {% else %}
                    <a href="{{ info.chief.get_absolute_url }}">{{ info.chief }}</a><br/>
                {% endif %}
            {% endfor %}
            </p>
            <a class='dropdown-button blue btn' href='#' data-activates='dropdown1'>Подчиненные</a>
            <ul id='dropdown1' class='dropdown-content'>
{#                {% for sub in detail.get_subordinates %}#}
                <li><a class="blue-text" href="#!">{{ sub }}</a></li>
{#                {% empty %} <li><a href="#!">&ndash;</a></li>#}
{#                {% endfor %}#}
            </ul>
        </div>
    </div>

{% endblock %}

