{% extends "phones/include/base.html" %}
{% block content %}
<h1>Person</h1>


<table border="1" cellpadding="1">
    <thead>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>


    </thead>
    <tbody>
    {% for person in object_list %}
    <tr>
    <td><a href="/phones/{{ person.slug }}/details/">{{ person.last_name}} {{ person.first_name }} {{ person.middle_name }}</a></td>
    <td>{% for unit in person.unit.all %}{{ unit }}<br/> {% endfor %}</td>
    <td>{% for position in person.position.all %}{{ position }}<br/> {% endfor %}</td>
    <td>{{ person.degree }}</td>
    <td>{{ person.publish_date|date }}</td>
    <td>{{ person.science_rank }}</td>
    <td>{{ person.address }}</td>
    <td>{{ person.work_hours }}</td>
    <td>{% for phone in person.phone.all %}{{ phone }}<br/> {% endfor %}</td>
    <td>{{ person.email }}</td>
    <td><img alt="{{ person.last_name }}" src="{{ person.photo }}"></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}