{% extends "include/base.html" %}{% load thumbnail %}
{% block content %}
    <div class="row">
    <div class="col s12 offset-m1 m10 offset-l1 l10">
      <h4>{{ object.parent }} -> {{ object.unit_name }} - #{{ object.unit_cypher}}</h4>
            <ul class="collapsible" data-collapsible="accordion">
            {% for person in person %}
                <li>
                <div class="collapsible-header valign-wrapper">
                  <div class="col l3 m7 red-text text-lighten-1 valign-wrapper" style="font-size: 0.9rem; font-weight: bold; ">
                    {% if person.photo %}
                        {% thumbnail person.photo "27x27" quality=99 crop="center" as im %}
                        <img class="circle responsive-img" style="margin-left: 2px; margin-right: 15px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ person.last_name }}">
                        {% endthumbnail %}
                    {% else %}
                        <i class="material-icons">person</i>
                    {% endif %}
                    {{ person.last_name}} {{ person.first_name| slice:":1" }}.{{ person.middle_name| slice:":1" }}.
                  </div>
                  <div class="col l7 hide-on-med-and-down" style="font-size: 0.8rem">
                      <span class="truncate">{{ person.positioninunit_set.select_related.first.unit }} / {{ person.positioninunit_set.select_related.first.position }}</span>
                  </div>
                  <div class="col l2 m4 right" style="font-size: 0.8rem">
                    <span>{% for phone in person.positioninunit_set.select_related.first.phone.all %}{{ phone }} {% endfor %}</span>
                  </div>
              </div>

              <div class="collapsible-body">
                <div class="row" style="padding: 20px; margin: 5px; border: 1px #ee6e73 dashed;">
                    <div class="col l3"><i class="material-icons left">phone</i>{% for info in person.positioninunit_set.all %}{% for phone in info.phone.all %}{{ phone }}<br/>{% endfor %}{% endfor %}</div>
                    <div class="col l3"><i class="material-icons left">mail</i>{{ person.email }}</div>
                    <div class="col l4"><i class="material-icons left">place</i>{% for info in person.positioninunit_set.all %}{{ info.address }}{% endfor %}</div>
                    <div class="col l2">
                        <a class="btn-flat red-text text-lighten-2" href="{{ person.get_absolute_url }}">Подробнее</a><br/>
                        <a class="btn-flat red-text text-lighten-2" href="mailto:{{ person.email }}">Письмо</a>
                    </div>
                </div>
              </div>

                </li>
            {% endfor %}
            </ul>
    </div></div>
{% endblock %}





